.left-container{
    height: 100%;
    width: 100%;
    background-color: #FDE3D9;

    display: grid;
    grid-template-rows: 5fr 3fr 2fr;
}

.logo{
    background: url('../images/Cat-N-Dog-Logo.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 180px;
    height: 60px;
    top: 15px;
    left:20px;
    position: relative  ;
}

.left-heading{
    /*
    position: relative;
    left: 40px;
    top:220px;
    */
    width: 80%;
    max-width: 400px;
    color:#3E3E3E;
    font-size: 30px;
}

.left-content{
    /*
    position: relative;
    left:40px;
    top: 240px;
    */
    color: #6D6D6D;
    width: 70%;
    max-width: 380px;
    font-size: 0.8rem;
}

.app-store-badge{
    width: 104px;
    height: 36px;
    background: url('../images/AppStoreBadge.png');
    background-size:cover;
    opacity: 1;
    /*
    left:40px;
    position: absolute;
    top: 495px;
    */
}


.play-store-badge{
    width: 140px;
    height: 52px;
    background: url('../images/google-play-badge.png');
    background-size: cover;
    opacity: 1;
    /*
    position: absolute;
    left : 160px;
    top: 486px;
    */
}

.badges {
    display: flex;
    margin-left: 2vw;
    justify-content: left;
    align-items: center;
}

.left-text {
    margin-left: 2vw;
}
